
@{
    ViewBag.Title = "ForgotPassword";
}

<div>
    <h3 class="site-title text-center">Востоновление пароля</h3>
    <br />
    <form class="form-horizontal" role="form" method="post">

        <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Введите ваш email</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="inputEmail3" name="email" placeholder="Login" style="max-width:300px;">
            </div>
        </div>

        
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Отправить письмо</button>
            </div>
        </div>
    </form>
</div>

