
@{
    ViewBag.Title = "Categories";
}
<div class="row" id="PanelCategory">
   
</div>


    @section Scripts{
        <script>
            $(document).ready(function () {
                $('#PanelCategory').load("http://localhost:62712/Admin/Categories/upCategories");
            
               
            });
             
          
        </script>
    }
