
@{
    ViewBag.Title = "Cabinet";
}

<div class="clearfix author-info">
    <div class="author-photo"><img alt="" src="http://1.gravatar.com/avatar/?s=75&amp;d=mm&amp;r=g" srcset="http://0.gravatar.com/avatar/?s=150&amp;d=mm&amp;r=g 2x" class="avatar avatar-75 photo avatar-default" height="75" width="75"></div>
    <div class="author-content">
        <h3>@User.UserName</h3>
        <p></p>
       
          <p class="comments-title">
            

          </p>



        </div>
    </div>
    <!-- .author-info -->


