@{
    ViewBag.Title = "Contact";
}
<div id="content" class="sidebar_right">
    <div class="inner">
        <div class="block_general_title_1">
            <h1>Контакты</h1>
            <h2>Здесь вы можете связаться с нами</h2>
        </div>

        <div class="main_content">
            <div class="block_form_1">
                <form action="#" id="contact_form">
                    <div class="text">
                        <p>Enterprise includes a built-in AJAX contact form with an anti-spam filter. Display your contact form anywhere on your site using the contact-form shortcode.</p>
                    </div>

                    <div class="form">
                        <div class="label">Name <span>*</span></div>
                        <div class="field"><input type="text" name="name" class="to_send w_focus_mark w_validation required"></div>

                        <div class="label">E-mail <span>*</span></div>
                        <div class="field"><input type="text" name="email" class="to_send w_focus_mark w_validation required email"></div>

                        <div class="label">Subject</div>
                        <div class="field"><input type="text" name="subject" class="to_send w_focus_mark w_validation"></div>

                        <div class="label">Message <span>*</span></div>
                        <div class="textarea"><textarea name="message" class="to_send w_focus_mark w_validation required" cols="1" rows="1"></textarea></div>

                        <div class="button"><a href="#" class="general_button_type_3 submit">Send message</a></div>
                    </div>
                </form>
            </div>

            <div class="line_1" style="margin:36px 0px 40px;"></div>

            <div class="block_map_1">
                <h2>Google map</h2>
                <div id="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3281.169029769623!2d-77.04677520941048!3d-12.044239342702536!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb369403f5bff220b!2sCentro+Comercial+Las+Malvinas!5e0!3m2!1sru!2s!4v1488789186230" width="480" height="240" frameborder="0" style="border:0" allowfullscreen></iframe></div>
               
          
            </div>
        </div>

        @Html.Action("SideBar", "Home")
        <script type="text/javascript">
							init_calendar(
								'#sidebar_calendar',
								{
									days : ['Воскресенье', 'Понедельник', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
									daysShort : ['Вос', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
									daysMin : ['S', 'M', 'T', 'W', 'T', 'F', 'S', 'S'],
									months : ['Январь', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
									monthsShort : ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
									weekMin : 'wk'
								}
							);
        </script>
      

    </div>

    <div class="clearboth"></div>

</div>
		