@{
    ViewBag.Title = "Contact";
}
<div id="content" class="sidebar_right">
    <div class="inner">
        <div class="block_general_title_1">
            <h1>Contact Us - sidebar</h1>
            <h2>ENTER THE SUB TITLE FOR THIS SECTION</h2>
        </div>

        <div class="main_content">
            <div class="block_form_1">
                <form action="#" id="contact_form">
                    <div class="text">
                        <p>Enterprise includes a built-in AJAX contact form with an anti-spam filter. Display your contact form anywhere on your site using the contact-form shortcode.</p>
                    </div>

                    <div class="form">
                        <div class="label">Name <span>*</span></div>
                        <div class="field"><input type="text" name="name" class="to_send w_focus_mark w_validation required"></div>

                        <div class="label">E-mail <span>*</span></div>
                        <div class="field"><input type="text" name="email" class="to_send w_focus_mark w_validation required email"></div>

                        <div class="label">Subject</div>
                        <div class="field"><input type="text" name="subject" class="to_send w_focus_mark w_validation"></div>

                        <div class="label">Message <span>*</span></div>
                        <div class="textarea"><textarea name="message" class="to_send w_focus_mark w_validation required" cols="1" rows="1"></textarea></div>

                        <div class="button"><a href="#" class="general_button_type_3 submit">Send message</a></div>
                    </div>
                </form>
            </div>

            <div class="line_1" style="margin:36px 0px 40px;"></div>

            <div class="block_map_1">
                <h2>Google map</h2>
                <div id="map"></div>
                <script type="text/javascript">
							init_map(
								'map', //map container
								'14 Rue du Bois de Boulogne, Paris, France', //write here address you need
								'My Office, 14 Rue du Bois de Boulogne, Paris, France', //write here description you need
								'images/marker_map_1.png' //path to your custom marker
							);
                </script>
            </div>
        </div>

        <div class="sidebar">
         @Html.Action("Latest","Home")
               

            <aside>
                <div class="sidebar_title_1">Calendar</div>

                <div class="block_sidebar_calendar_1">
                    <div id="sidebar_calendar"></div>

                    <a href="#" class="prev_month">
                </div>
            </aside>
        </div>

        <script type="text/javascript">
							init_calendar(
								'#sidebar_calendar',
								{
									days : ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
									daysShort : ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
									daysMin : ['S', 'M', 'T', 'W', 'T', 'F', 'S', 'S'],
									months : ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
									monthsShort : ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
									weekMin : 'wk'
								}
							);
        </script>
      

    </div>

    <div class="clearboth"></div>

</div>
		</div>