
@{
    ViewBag.Title = "News";
}

<article class="clearfix  post type-post status-publish format-standard has-post-thumbnail sticky hentry category-uncategorized tag-sticky-2 tag-template">
    <h2>News</h2>
    </article>
