@model IEnumerable<IServices.Models.Post.ModelComment>
@{
    Layout = null;
}
@foreach (var comment in Model)
{

    <div class="comment">
        <div class="inside">
            @if (comment.User[0].Photo == null)
            { <div class="avatar"><a href="#"><img src="~/img/Users/avatar.png" alt=""></a></div>}
            else
            {
            <div class="avatar"><a href="#"><img src="~/img/Users/@comment.User[0].Id/@comment.User[0].Photo" alt=""></a></div>
            }
            <div class="content">
                <div class="author"><a href="#">@comment.User[0].UserName</a></div>
                <div class="info">@comment.DateAddPost.ToLongDateString()<a href="#">Ответить</a></div>
                <div class="text">
                    <p>@comment.ContentComment</p>
                </div>
            </div>

            <div class="clearboth"></div>
        </div>
    </div>

}

