@model IEnumerable<IServices.Models.Post.ModelTags>
@{
    Layout = null;
}

<div class="column  col-md-offset-4 ">
    <div class="block_footer_tags">
        <h3>Облако тегов</h3>

        <ul>
            @foreach (var tag in Model)
            {
            <li><a href="@Url.Action("Tag","Home",new {tags = tag.NameTag })">@tag.NameTag</a></li>
            }
        </ul>
    </div>


</div>

