@model IEnumerable<IServices.Models.Post.ModelPost>
@{
    Layout = null;
}
@foreach (var post in Model)
{
<article>
    <a href="@Url.Action("Post","Home", new {id = post.PostID })">
        <span class="num">@post.Comments.Count()<span class="tail"></span></span>
        <span class="title">@post.NamePost</span>
    </a>
</article>

}
