
@{
    Layout = null;
}

<div class="sidebar">



    @Html.Action("Popular", "Home")

    <aside>
        <div class="sidebar_title_1">Most commented</div>

        <div class="block_sidebar_most_commented">
            <article>
                <a href="#">
                    <span class="num">12<span class="tail"></span></span>
                    <span class="title">Quae ab illo inventore veritatis et quasi.</span>
                </a>
            </article>

            <article>
                <a href="#">
                    <span class="num">8<span class="tail"></span></span>
                    <span class="title">Fugit, sed quia consequuntur.</span>
                </a>
            </article>

            <article>
                <a href="#">
                    <span class="num">7<span class="tail"></span></span>
                    <span class="title">Sed quia consequuntur magni dolores eos qui.</span>
                </a>
            </article>
        </div>
    </aside>

    <div class="sidebar_title_1"><h3>Последние комментарии</h3></div>
    <div class="line_1"></div>
    <div class="block_sidebar_latest_comments">
        @Html.Action("LatestComments", "Home");
    </div>
    </div>