
@{
    Layout = null;
}

<div class="sidebar">



    @Html.Action("Popular", "Home")

    <aside>
        <div class="sidebar_title_1">Most commented</div>

        <div class="block_sidebar_most_commented">
            <article>
                <a href="#">
                    <span class="num">12<span class="tail"></span></span>
                    <span class="title">Quae ab illo inventore veritatis et quasi.</span>
                </a>
            </article>

            <article>
                <a href="#">
                    <span class="num">8<span class="tail"></span></span>
                    <span class="title">Fugit, sed quia consequuntur.</span>
                </a>
            </article>

            <article>
                <a href="#">
                    <span class="num">7<span class="tail"></span></span>
                    <span class="title">Sed quia consequuntur magni dolores eos qui.</span>
                </a>
            </article>
        </div>
    </aside>

    <aside>
        <div class="sidebar_title_1">Latest Comments</div>

        <div class="block_sidebar_latest_comments">
            <article>
                <div class="num">1</div>
                <div class="content">
                    <div class="author"><span>Mark Summers</span> says:</div>
                    <div class="comment">Aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione.</div>
                </div>
            </article>

            <article>
                <div class="num">2</div>
                <div class="content">
                    <div class="author"><span>Sara hornet</span> says:</div>
                    <div class="comment">Magni dolores eos qui ratione voluptatem sequi nesciunt.</div>
                </div>
            </article>
        </div>
    </aside>

</div>
