@model int
@{
    Layout = null;
}

<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat2">
        <div class="display">
            <div class="number">
                <h3 class="font-red-haze">@Model</h3>
                <small>Комментарий</small>
            </div>
            <div class="icon">
                <i class="icon-note"></i>
            </div>
        </div>
    </div>
</div>