@model int
@{
    Layout = null;
}
<a href="@Url.Action("Index","Users")">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2">
            <div class="display">
                <div class="number">
                    <h3 class="font-purple-soft">@Model</h3>
                    <small>Пользователей</small>
                </div>
                <div class="icon">
                    <i class="icon-user"></i>
                </div>
            </div>

        </div>
    </div>
</a>