@model int
@{
    Layout = null;
}
<a href="@Url.Action("Index","Posts")">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2">
            <div class="display">
                <div class="number">
                    <h3 class="font-blue-sharp">@Model</h3>
                    <small>Постов</small>
                </div>
                <div class="icon">
                    <i class="icon-docs"></i>
                </div>
            </div>

        </div>
    </div>
</a>
