@model IServices.Models.Post.ModelCategories
@{
    Layout = null;
}

    <label for="selectedCategory" class="col-sm-2 control-label style="margin:10px;"">Категория</label>
    <div class="col-md-10">
        <select class="form-control" id="selectedCategory" name="selectedCategory" style="margin:10px;">
            @foreach (var category in Model.GetParents())
            {
                <optgroup label="@category.Name">
                    @foreach (var childCategory in Model.GetChild(category.Id))
                    {
                        <option  value="@childCategory.Id">@childCategory.Name</option>
                    }
                </optgroup>
            }

        </select>
    </div>

