
@model IEnumerable<IServices.Models.Post.ModelPost>

@{
    ViewBag.Title = "Posts";
}
<div id="PanelPosts"></div>




@section scripts{
  <script>
            $(document).ready(function () {
                $('#PanelPosts').load("@Url.Action("AjaxPost", "Post")");


            });


</script>
}


