
@{
    ViewBag.Title = "NewPost";
}


<div class="container ">
    
        <div class="form-group  ">
            <label for="NamePost" class="col-sm-2 control-label">Название</label>

            <div class="col-md-10">
                <input type="text" class="form-control" id="NamePost" name="NamePost" required placeholder="Заголовок" />
            </div>
        </div>
        @Html.Action("SelectCategory", "Admin")

        <div class="form-group">
            <div class="col-sm-offset-2 col-md-">
                <textarea class="form-control col-lg-50" cols="10" rows="25" id="contentPost" required name="contentPost"></textarea>
            </div>
        </div>
        <hr />
        <div class="form-group col-xs-12 ">
            <label for="Tags" class="col-sm-2 control-label">Тэги</label>
            <div class="col-xs-10">
                <textarea cols="150" rows="3" class="form-control" id="Tags" name="Tags" required placeholder="Введите тэги через запятую"></textarea>
            </div>

        </div>
        <div class="form-group ">
            <label for="dateAddPost" class="col-sm-2 control-label">Дата создания</label>
            <div class="col-md-2">
                <input type="date" class="form-control" required name="с" id="dateAddPost" />
            </div>

            <label for="File" class="col-sm-2 control-label">Прикрепить файл</label>
            <div class="addbut col-xs-4">

                <input type="file" class="form-control " name="upload" id="upload" />

            </div>
            @*<a class="addLink btn btn-default">Добавить новый файл</a>*@
            <div align="center">
                <br />
                <input type="submit" class="btn btn-info " id="addNewPost" name="save" />
            </div>
        </div>


</div>
<hr />

@section scripts {
    <script>
        $(document).ready(function () {
            $('#addNewPost').click(function () {
                var data = new FormData();
                var item = document.getElementById("selectedCategory");
                var selected = $(':selected', item);
                var selectedCategory = selected.val();
                data.append("IdCategory", selectedCategory);
                data.append("NamePost", $("#NamePost").val());
                data.append("contentPost", $("#contentPost").val());
                data.append("Tags", $("#Tags").val());
                data.append("dateAddPost", $("#dateAddPost").val());

                $.ajax({
                    url: 'NewPost',
                    type: 'post',
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (data) {

                        console.log(data);

                    }
                });
            });
        });

    </script>
}

