
@{
    ViewBag.Title = "NewPost";
}


<div class="container ">
    <form class="form-horizontal col-sm-2 col-md-10 " name="Post" method="post" enctype="multipart/form-data">
        <div class="form-group  ">
            <label for="NamePost" class="col-sm-2 control-label">Название</label>

            <div class="col-md-10">
                <input type="text" class="form-control" id="NamePost" name="NamePost" required placeholder="Заголовок" />
            </div>
        </div>
        <div class="form-group">
            <label for="Category" class="col-sm-2 control-label">Категория</label>
            <div class="col-md-10">
                <select class="form-control" required name="selectedCategory">
                    @*@foreach (var element in PostDataStorage.Category)
                    {
                        <optgroup label="@element.Name">
                            @foreach (var item in element.Childrens)
                        {
                            <option> @item.Name</option>
                        }
                    </optgroup>

                    }*@
                </select>
            </div>

        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-md-">
                <textarea class="form-control col-lg-50" cols="10" rows="25" id="contentPost" required name="contentPost"></textarea>
            </div>
        </div>
        <hr />
        <div class="form-group col-xs-12 ">
            <label for="Tags" class="col-sm-2 control-label">Тэги</label>
            <div class="col-xs-10">
                <textarea cols="150" rows="3" class="form-control" id="Tags" name="Tags" required placeholder="Введите тэги через запятую"></textarea>
            </div>

        </div>
        <div class="form-group ">
            <label for="dateAddPost" class="col-sm-2 control-label">Дата создания</label>
            <div class="col-md-2">
                <input type="date" class="form-control" required name="dateAddPost" id="dateAddPost" />
            </div>

            <label for="File" class="col-sm-2 control-label">Прикрепить файл</label>
            <div class="addbut col-xs-4">

                <input type="file" class="form-control " name="upload" id="upload" />

            </div>
            @*<a class="addLink btn btn-default">Добавить новый файл</a>*@
            <div align="center">
                <br />
                <input type="submit" class="btn btn-info  " name="save" />
            </div>
        </div>


    </form>
</div>
<hr />
@*@section scripts {
    <script>


        $(function () {
            var i = 0;
            $('.addLink').click(function () {
                i++;
                var html2Add = "<div class='addfile'>" +
             "<h4>Файл №" + (i + 1) + "</h4>" +
                     "<input type='file' class='form-control' name='upload' />" +
                 "</div></div></div>";
                $('.addbut').append(html2Add);
            })
        })
    </script>
}*@   

