
@model IEnumerable<IServices.Models.Post.ModelPost>

@{
    ViewBag.Title = "Posts";
}
<div id="PanelPosts"></div>




@section scripts{
  <script>
            $(document).ready(function () {
                $('#PanelPosts').load("http://localhost:62712/Admin/Admin/upPosts");


            });


</script>
}


